<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coetusstudio.iimtufaculty">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iimtulogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iimtulogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.IIMTUFaculty"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ViewpdfActivity"
            android:exported="false" />
        <activity
            android:name=".VerifyActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Home.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Home.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Attendance.View_Collective_Attendance"
            android:exported="false" />
        <activity
            android:name=".Activity.Notification.RecentHodNotification"
            android:exported="false" />
        <activity
            android:name=".Activity.Faculty.FacultyDetails"
            android:exported="false" />
        <activity
            android:name=".Activity.Attendance.DownloadAttendanceBySubject"
            android:exported="false" />
        <activity
            android:name=".Activity.Attendance.Select_ViewAttendance_Date"
            android:exported="false" />
        <activity
            android:name=".Activity.Marks.Sessional_Marks"
            android:exported="false" />
        <activity
            android:name=".Activity.Attendance.View_Attendace_ByDate"
            android:exported="false" />
        <activity
            android:name=".Activity.Attendance.Attendance_TakenBy_Subject"
            android:exported="false" />
        <activity
            android:name=".Activity.Attendance.Delete_Attendance"
            android:exported="false" />
        <activity
            android:name=".Activity.Attendance.Select_Attendance"
            android:exported="false" />
        <activity
            android:name=".Activity.Attendance.AttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Notification.RecentnoticeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Lecture.RecentlectureActivity"
            android:exported="true"
            android:theme="@style/Theme.IIMTUStudentAction" />

        <activity
            android:name=".Activity.Queries.QueriesActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Notes.UploadpdfActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Form.CreateformActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Notification.SendnotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Notes.NotesActivity"
            android:exported="true"
            android:theme="@style/Theme.IIMTUStudentAction"/>
        <activity
            android:name=".Activity.Lecture.LectureActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Students.StudentdetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.IIMTUStudentAction"/>
        <activity
            android:name=".Activity.Students.AddstudentActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Home.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.IIMTUFaculty.NoActionBar" />
        <activity
            android:name=".Activity.Home.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.IIMTUFaculty.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>